<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--自动扫描属性-->
    <context:property-placeholder location="classpath:/resources/application.properties" />

    <!-- 程序利用的属性文件读取 -->
    <bean id="phpServer" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:resources/hibernate/*.properties</value>
                <value>classpath:*.properties</value>
            </list>
        </property>
    </bean>


    <bean id="dataSourceMaster" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" >
            <value>${jdbc.driverClassName}</value>
        </property>
        <property name="url">
            <value>${jdbc.master.url}</value>
        </property>
        <property name="username">
            <value>${jdbc.master.username}</value>
        </property>
        <property name="password">
            <value>${jdbc.master.password}</value>
        </property>

    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSourceMaster" />

        <property name="hibernateProperties">
            <value>
                resources.hibernate.dialect=org.resources.hibernate.dialect.MySQLDialect
            </value>
        </property>

        <property name="mappingLocations">
            <list>
                <value>classpath:/resources/hibernate/*.hbm.xml</value>
            </list>
        </property>
    </bean>



    <!--  事务管理 -->

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven/>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true" propagation="SUPPORTS" />
            <tx:method name="find*" read-only="true" propagation="SUPPORTS" />
            <tx:method name="query*" read-only="true" propagation="SUPPORTS" />
            <tx:method name="autoGenCode"  propagation="REQUIRES_NEW" />
            <!--
            <tx:method name="updateAfterCommuTrans"  propagation="REQUIRES_NEW" />
            <tx:method name="updateAfterMZCommuTrans"  propagation="REQUIRES_NEW" />
            <tx:method name="updateAfterCZCommuTrans"  propagation="REQUIRES_NEW" />
            <tx:method name="createAcctFlowNewSession"  propagation="REQUIRES_NEW" />
            <tx:method name="buildAcctRecord"  propagation="REQUIRES_NEW" />
            <tx:method name="deleteAcctRecord"  propagation="REQUIRES_NEW" />
            <tx:method name="buildNegativeAcctRecord"  propagation="REQUIRES_NEW" />
             -->
            <tx:method name="clearEndProcessInstance"  propagation="REQUIRES_NEW" />
            <tx:method name="saveBfsInfo"  propagation="REQUIRES_NEW" />
            <tx:method name="*" read-only="false" propagation="REQUIRED" />
        </tx:attributes>
    </tx:advice>


    <!--<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">-->
        <!--<property name="sessionFactory"><ref bean="mySessionFactory"/></property>-->
    <!--</bean>-->

    <bean id="productDao" class="com.maiev.dao.ProductDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="productService" class="com.maiev.service.ProductServiceImpl">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="productDao" ref="productDao"/>
    </bean>
</beans>